.top-bar {
  background-color: #e27614;
  color: white;
  height: 100px;
  width: 100%;
  //margin-bottom: 50px;

  .top-bar-content, .nav-bar {
    min-height: 50px;
    width: 100%;
  }

  .top-bar-content{
    display: flex;
    align-items: center;

    .top-bar-item{
      color: white;
      text-decoration: none;
      margin-right: 20px;
      cursor: pointer;

      i{
        margin-right: 5px;
      }

      a{
        color: white;
        text-decoration: none;
      }
    }
    .top-bar-social{
      i{
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .nav-bar {
    //position: absolute;
    nav {
      background: #1b2335;
      color: #fff;
      height: 100px;
      line-height: 50px;
      width: 100%;
      z-index: 1000;
      border-radius: 8px;

      .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;

        a {
          color: #fff;
          text-decoration: none;
          padding: 0 15px;
          font-size: 14px;
          transition: color .3s ease-out;

          &:hover {
            color: #e27614;
          }
        }

        .logo {
          color: #fff;
          font-size: 24px;
          font-weight: bold;

          img {
            width: 100%;
          }
        }

        .nav-toggle-button {
          width: 50px;
          height: 50px;
          padding-right: 12px;
          border-radius: 50%;
          background-color: #e27614;
          color: white;
          border: none;
          outline: none;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;

          .toggle-line-1, .toggle-line-2 {
            height: 3px;
            border-radius: 2px;
            width: 25px;
            background-color: white;
            margin: 5px 0;
            transition: width .3s ease-out;
          }

          .toggle-line-1 {
            width: 10px;
          }
        }

        .nav-toggle-button:hover {
          .toggle-line-1 {
            width: 25px;
          }
        }

        .nav-items {
          display: flex;
          justify-content: space-around;
          align-items: center;

          @media screen and (max-width: 768px) {
            display: none;
          }

          &.open {
            display: flex;
          }
        }
      }
    }
  }
}

.about-drawer-container {
  width: 100%;
  min-height: 100vh;
  background-color: #0f172a;

  mat-drawer {
    padding: 25px 3vw;
    width: 30%;
    height: 100vh;
    background-color: #1b2335;
    z-index: 9999;
    position: fixed;
    overflow: hidden;

    .about-mat-drawer{
      width: 100%;
      height: 100%;
      overflow: auto;

      .close-btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: #e27614;
        color: white;
        border: none;
        outline: none;

        .close-icon {
          font-size: 16px;
          font-weight: bold;
          color: white;
          margin: 0;
          padding: 0;
          cursor: pointer;
          transform: rotate(45deg);
          transition: .3s ease-out;

          &:hover {
            transform: rotate(90deg);
          }
        }
      }

      .row {
        .col-4 {
          padding: 5px;
        }
      }

      .gallery {
        margin-bottom: 40px;

        img {
          width: 100%;
        }
      }

      h4{
        font-size: 28px;
        font-weight: 500;
      }

      i{
        color: #e27614;
        margin-right: 8px;
        margin-bottom: 10px;
      }
      span{
        margin-bottom: 10px;
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 400;
        transition: color .3s ease-out;
        text-decoration: none;

        a{
          text-decoration: none;
          color: white;
          transition: color .3s ease-out;
        }
      }
      span:hover, span a:hover{
        color: #e27614;
      }

      hr{
        width: 100%;
        color: white;
      }

      .social-btn{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: #e27614;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        transform: translateY(0);
        transition: .3s ease-out;
        margin-top: 50px;
        margin-left: 8px;

        i{
          color: white;
          margin: 0;
          padding: 0;
        }
      }
      .social-btn:hover{
        transform: translateY(-10px);
      }

      &::-webkit-scrollbar {
        display: none !important;
      }

      &::-webkit-scrollbar-thumb {
        display: none !important;
      }

      &::-webkit-scrollbar-track {
        display: none !important;
      }

      &::-webkit-scrollbar-button {
        display: none !important;
      }
    }

  }

  mat-drawer-content {

    .nav-button{
      min-height: 50px;
      border: 2px solid #e27614;
      outline: none;
      padding: 5px 30px;
      border-radius: 8px;
      background-color: #e27614;
      color: white;
      transition: background-color .3s ease-out;
    }

    .nav-button:hover{
      background-color: transparent;
      outline: #e27614;
    }

    .main-banner{
      width: 100%;
      min-height: 420px;
      background-color: #161c2e;
      color: white;
      display: flex;
      align-items: center;
      background-image: url("../../../assets/images/about/about-bg.png");
      background-size: contain;
      background-position: left;
      background-repeat: no-repeat;

      .title-1{
        font-size: 60px;
      }

      span, pre{
        height: 50px;
        display: flex;
        align-items: center;
        color: white;
        margin: 0;
        padding: 0;
        font-size: 24px;
        cursor: pointer;
        transition: color .3s ease-out;
      }

      pre:hover{
        color: #e27614;
      }
    }

    .main-wrapper{
      margin: 6vw 0;

      .sec-1{
        width: 100%;
        min-height: 250px;

        .v-hr{
          width: 1px;
          min-height: 250px;
          height: 100%;
          background-color: #4c5a73;
        }

        .sec-1-cont{
          width: 100%;
          padding: 25px;
          i{
            color: #e27614;
            font-size: 50px;
            margin-bottom: 30px;
          }

          span a{
            text-decoration: none;
            color: #fff;
            transition: color .3s ease-out;
            font-size: 18px;
            display: flex;
            align-items: center;
            text-align: center;

            &:hover{
              color: #e27614;
            }
          }
        }

      }

      .sec-2{
        margin: max(50px, 6vw) 0;
        h6, .title-1{
          text-align: center!important;
        }

        h6{
          color: #e27614!important;
        }
      }

      .sec-3{
        .row{
          .col-12{
            .text-input, .text-area{
              width: 100%;
              min-height: 50px;
              border-radius: 0;
              outline: none;
              border: 1px solid transparent;
              margin-bottom: 16px;
              padding: 16px 32px;
              background-color: rgba(255, 255, 255, 0.0500000007);
              color: white;

              &::placeholder{
                color: white;
              }
              &:focus{
                border: 1px solid #e27614;
              }
            }
          }
        }
        .contact-button{
          background-color: #e27614;
          color: #fff;
          transition: background-color .3s ease-out;
          outline: none;
          border: 2px solid #e27614;
          padding: 16px 40px;
          border-radius: 8px;
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;

          &:hover{
            background-color: transparent;
          }
        }
      }
    }

    .sec-7{
      min-height: 250px;
      width: 100%;
      background-image: url("../../../assets/images/about/sec-7-bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      margin-bottom: 5vw;

      .sec-7-cover{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(230, 126, 34, 1);
        z-index: -1;
      }

      .sec-7-image{
        max-width: 50%;
        min-height: 250px;
        background-image: url("../../../assets/images/img-1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        font-weight: 600;

        .call-icon{
          padding: 10px;
          background-color: #ffc901;
          border-radius: 100%;
          margin-right: 10px;
        }

        .contact-button{
          background-color: #ffc901;
          color: #0f172a;
          border-radius: 8px;
          padding: 10px 20px;
          transition: .3s ease-out;
          border: 2px solid #ffc901;
          outline: none;
          font-size: 16px;

          &:hover{
            background-color: transparent;
            color: #fff;
          }
        }
      }
    }

  }
}


@media screen and (max-width: 768px) {

  mat-drawer-container{
    mat-drawer {
      width: 100% !important;
    }

    mat-drawer-content{
      .top-bar {
        background-color: transparent;

        .top-bar-content {
          display: none;
        }

        .nav-bar {
          height: 100%;
        }
      }

      .nav-bar {
        nav {
          .container {
            .nav-items {
              display: none;
              flex-direction: column;
              width: 100%;
              position: absolute;
              background-color: #333;
              top: 50px;
              left: 0;

              a {
                padding: 15px;
                width: 100%;
                text-align: center;

                &:hover {
                  background-color: #555;
                }
              }
            }
          }

          // Show navigation items when hamburger button is clicked
          &.slideDown {
            .nav-items {
              display: flex;
            }
          }
        }
      }

      .main-banner{
        .title-1{
          font-size: 48px!important;
        }
      }
    }
  }
}
