<mat-drawer-container class="about-drawer-container">
  <mat-drawer #drawer mode="over" position="end">
    <div class="about-mat-drawer">
      <div class="d-flex align-items-center justify-content-between w-100">
        <img src="./assets/images/logo.png" alt="logo">
        <button (click)="drawer.toggle()" class="close-btn"><pre class="close-icon">&plus;</pre></button>
      </div>

      <p class="p-1" style="margin: 30px 0">
        The design readable content of a page hen looking at its layout The point our of using Movie template
      </p>

      <h4>Gallery</h4>
      <div class="gallery">
        <div class="row">
          <div class="col-4">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-6.jpg" alt="img-6">
          </div>
          <div class="col-4">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-7.jpg" alt="img-7">
          </div>
          <div class="col-4">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-8.jpg" alt="img-8">
          </div>
          <div class="col-4">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-9.jpg" alt="img-9">
          </div>
          <div class="col-4">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-10.jpg" alt="img-10">
          </div>
          <div class="col-4">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-11.jpg" alt="img-11">
          </div>
          <div class="col-4">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-12.jpg" alt="img-12">
          </div>
          <div class="col-4">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-13.jpg" alt="img-13">
          </div>
          <div class="col-4">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-14.jpg" alt="img-14">
          </div>
        </div>
      </div>

      <h4>Contacts</h4>
      <div class="d-flex flex-column align-items-start justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>6123 Los angles, 1922</span>
        </div>
        <div class="d-flex align-items-start justify-content-center">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span><a href="mailto:info@example.com">info@example.com</a></span>
        </div>
        <div class="d-flex align-items-start justify-content-center">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span><a href="tel:(629) 555-0129">(629) 555-0129</a></span>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <button class="social-btn">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </button>
        <button class="social-btn">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </button>
        <button class="social-btn">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </button>
        <button class="social-btn">
          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="top-bar">
      <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-between w-100">
          <div class="top-bar-content"></div>
          <div class="nav-bar">
            <nav>
              <div class="container">
                <div class="logo">
                  <img src="./assets/images/logo.png" alt="logo">
                </div>
                <div class="nav-items" [class.open]="isMenuOpen">
                  <a routerLink="/">Home</a>
                  <a routerLink="/about">About Us</a>
                  <a routerLink="/pages">Pages &blacktriangledown;</a>
                  <a routerLink="/blog">Blog</a>
                  <a routerLink="/contact">Contact</a>
                </div>
                <div>
                  <button class="nav-toggle-button" (click)="drawer.toggle()"><div class="toggle-line-1"></div><div class="toggle-line-2"></div></button>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
