<mat-drawer-container class="about-drawer-container">

  <mat-drawer #drawer mode="over" position="end">
    <div class="about-mat-drawer">
      <div class="d-flex align-items-center justify-content-between w-100">
        <img src="./assets/images/logo.png" alt="logo">
        <button (click)="drawer.toggle()" class="close-btn">
          <pre class="close-icon">&plus;</pre>
        </button>
      </div>

      <div class="d-none d-md-block">
        <p class="p-1" style="margin: 30px 0">
          The design readable content of a page hen looking at its layout The point our of using Movie template
        </p>

        <h4>Gallery</h4>
        <div class="gallery">
          <div class="row">
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-6.jpg" alt="img-6">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-7.jpg" alt="img-7">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-8.jpg" alt="img-8">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-9.jpg" alt="img-9">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-10.jpg" alt="img-10">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-11.jpg" alt="img-11">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-12.jpg" alt="img-12">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-13.jpg" alt="img-13">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-14.jpg" alt="img-14">
            </div>
          </div>
        </div>
      </div>

      <div class="d-block d-md-none">
        <div class="d-flex flex-column align-items-start justify-content-center"
             style="margin: 40px 0; padding: 0 25px;">
          <span routerLink="/home">Home</span>
          <hr>
          <span routerLink="/about">About</span>
          <hr>
          <span (click)="pagesTabOpen()">Pages</span>
          <hr>
          <span routerLink="/blog">Blog</span>
          <hr>
          <span routerLink="/contact">Contact</span>
          <hr>
        </div>
      </div>

      <h4>Contacts</h4>
      <div class="d-flex flex-column align-items-start justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>6123 Los angles, 1922</span>
        </div>
        <div class="d-flex align-items-start justify-content-center">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span><a href="mailto:info@example.com">info@example.com</a></span>
        </div>
        <div class="d-flex align-items-start justify-content-center">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span><a href="tel:(629) 555-0129">(629) 555-0129</a></span>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <button class="social-btn">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </button>
        <button class="social-btn">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </button>
        <button class="social-btn">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </button>
        <button class="social-btn">
          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="top-bar">
      <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-between w-100">
          <div class="top-bar-content">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center top-bar-item">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span><a href="mailto:info@example.com">info@example.com</a></span>
                </div>
                <div class="d-flex align-items-center top-bar-item">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>6123 Los angles, 1922</span>
                </div>
                <div class="d-flex align-items-center top-bar-item">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span><a href="tel:(629) 555-0129">(629) 555-0129</a></span>
                </div>
              </div>

              <div class="d-flex-align-items-center justify-content-between top-bar-social">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="nav-bar">
            <nav>
              <div class="container">
                <div class="logo" routerLink="/">
                  <img src="./assets/images/logo.png" alt="logo">
                </div>
                <div class="nav-items" [class.open]="isMenuOpen">
                  <a routerLink="/">Home</a>
                  <a routerLink="/about">About Us</a>
                  <a (click)="pagesTabOpen()" style="cursor: pointer">Pages</a>
                  <a routerLink="/blog">Blog</a>
                  <a routerLink="/contact">Contact</a>
                </div>
                <div class="pages-list" [class.active]="isPagesTabOpen">
                  <a routerLink="/service">Service</a>
                  <a routerLink="/project">Project</a>
                  <a routerLink="/team">Team</a>
                  <a routerLink="/faq">Faq</a>
                </div>
                <div>
                  <button class="nav-toggle-button" (click)="drawer.toggle()">
                    <div class="toggle-line-1"></div>
                    <div class="toggle-line-2"></div>
                  </button>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="main-banner">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div class="title-1">About Us</div>
          <div class="d-flex align-items-center" style="height: auto!important;">
            <pre routerLink="/home">Home</pre>&nbsp; > &nbsp;<span>About Us</span>
          </div>
        </div>
      </div>
    </div>

    <div class="sec-2">
      <div class="container">
        <div class="d-md-flex flex-row-reverse align-items-center justify-content-between w-100">
          <div class="d-flex flex-column justify-content-start align-items-start sec-2-cont">
            <div class="subtitle-1">a tale of</div>
            <div class="title-1">The Ultimate Movie Destination</div>
            <p class="p-1">It is a long established fact that a reader will distracted by the readable content of a page
              hen
              looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed to using</p>
            <p class="p-1">It is a long established fact that a reader will distracted by the readable content of a page
              hen
              looking at its layout.The point of using Lorem Ipsum</p>
            <button class="nav-button" style="min-height: 50px" routerLink="/about">
              Learn More
            </button>
          </div>

          <div>
            <div class="sec-2-image-wrapper">
              <div class="d-flex align-items-center justify-content-center w-100">
                <div class="sec-2-image-button">
                  <div class="d-flex align-items-center justify-content-center">
                    <img width="50" height="50" src="https://img.icons8.com/bubbles/50/circled-play.png"
                         alt="circled-play"/>
                    <div>
                      <span style="font-weight: 600; font-size: 32px; color: black">{{counter}} +</span>
                      <p style="color: black">Latest Movies</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sec-2-image">
                <div class="image-cover"></div>
                <img src="./assets/images/img-1.jpg" alt="image">
              </div>
              <div class="d-none d-md-block"
                   style="background-color: #e27614; width: 100%; height: calc(100vh - 80px); transform: skewY(-10deg); position: absolute; bottom: -10px; left: -30px; z-index: 0">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="sec-3">
      <div class="container">
        <div class="d-md-flex align-items-center justify-content-between-w-100">
          <div class="sec-3-cont">
            <p class="p-1">It is a long established fact that a reader will distracted by the readable content of a page
              hen
              looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed to using</p>
            <ul>
              <li><i class="fa-solid fa-check"></i>More Than Just a Movie</li>
              <li><i class="fa-solid fa-check"></i>Lights Out, Movie On</li>
              <li><i class="fa-solid fa-check"></i>Enter a World of Imagination</li>
            </ul>
            <p class="p-1">It is a long established fact that a reader will distracted by the readable content of a page
              hen
              looking at its layout.The point of using Lorem Ipsum</p>
          </div>
          <div class="sec-3-image">
            <img src="./assets/images/img-2.jpg" alt="banner">
          </div>
        </div>
      </div>
    </div>

    <div class="sec-4">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="sec-4-card">
              <div class="image-wrapper">
                <img src="./assets/images/about/icon1.png" alt="icon">
              </div>
              <div class="sec-4-counter">{{counter1}}&nbsp;+</div>
              <div class="sec-4-title">Team member</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="sec-4-card">
              <div class="image-wrapper">
                <img src="./assets/images/about/icon2.png" alt="icon">
              </div>
              <div class="sec-4-counter">{{counter2}}&nbsp;+</div>
              <div class="sec-4-title">Wining Awards</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="sec-4-card">
              <div class="image-wrapper">
                <img src="./assets/images/about/icon3.png" alt="icon">
              </div>
              <div class="sec-4-counter">{{counter3}}k&nbsp;+</div>
              <div class="sec-4-title">Complete Project</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="sec-4-card">
              <div class="image-wrapper">
                <img src="./assets/images/about/icon4.png" alt="icon">
              </div>
              <div class="sec-4-counter">{{counter4}}&nbsp;+</div>
              <div class="sec-4-title">Client Review</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-sec-5">
      <div class="container">
        <div class="sec-5-container">
          <div class="about-carousel-container"
               (mousedown)="onMouseDown($event)"
               (document:mouseup)="onMouseUp()"
               (document:mousemove)="onMouseMove($event)">
            <div class="carousel"  routerLink="/project/1"
                 [style.transform]="'translateX(-' + currentIndex * (itemWidth + margin) + 'px)'">
              <div *ngFor="let item of carouselItems" class="carouselItem">
                <div class="sec-5-image">
                  <img src="{{item.image}}" alt="{{item.title}}">
                  <div class="sec-5-image-hover">
                    <div class="container" style="height: 100%;">
                      <div class="d-flex flex-column align-items-start justify-content-end" style="height: 100%">
                        <span>{{item.tag}}</span>
                        <h4>{{item.title}}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sec-6">
      <div class="container">
        <div class="d-md-flex align-items-center justify-content-between">
          <div class="sec-6-image">
            <img src="./assets/images/about/sec-6-shape-1.png" alt="image">
            <div class="sec-6-video">
              <div style="position: relative">
                <img src="./assets/images/about/sec-6-banner.jpg" alt="video">
                <span></span>
              </div>
            </div>
          </div>
          <div class="sec-6-cont">
            <div class="title-1">
              Creating unforgettable moments on the big screen
            </div>
            <p class="p-1">
              It is a long established fact that a reader will distracted by the readable content of a page hen looking
              at its layout.The point of using Lorem Ipsum
            </p>
            <button class="nav-button" routerLink="/about">Load More</button>
          </div>
        </div>
      </div>
    </div>

    <div class="sec-7">
      <div class="sec-7-cover"></div>
      <div class="sec-7-image"></div>
      <div class="container">
        <div class="d-md-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="d-flex-align-items-center-justify-content-center call-icon">
              <img width="64" height="64"
                   src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-call-office-and-office-supplies-flaticons-lineal-color-flat-icons-3.png"
                   alt="external-call-office-and-office-supplies-flaticons-lineal-color-flat-icons-3"/>
            </div>
            <div>Get a consultation Call Us &nbsp;<span style="white-space: nowrap;">+123 456 789</span></div>
          </div>

          <button class="contact-button">Contact Us</button>
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
