/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Source Code Pro', monospace!important;
  background-color: #0f172a;

  h1, h2, h3, h4, h5, h6{
    color: white!important;
    font-weight: bold!important;
  }

  h1{
    font-size: 34px!important;
    line-height: 1!important;
  }
  h2{
    font-size: 30px!important;
    line-height: 1.067!important;
  }
  h3{
    font-size: 24px!important;
    line-height: 1.083!important;
  }
  h4{
    font-size: 20px!important;
    line-height: 1.1!important;
  }
  h5{
    font-size: 18px!important;
    line-height: 1.111!important;
  }
  h6{
    font-size: 16px!important;
    line-height: 1.125!important;
  }

  @media screen and (max-width: 768px){
    h1{
      font-size: 24px!important;
    }
    h2{
      font-size: 18px!important;
    }
    h3{
      font-size: 18px!important;
    }
    h4{
      font-size: 16px!important;
    }
    h5{
      font-size: 14px!important;
    }
    h6{
      font-size: 12px!important;
    }

  }
}

.subtitle-1{
  color: #fef3df;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 650;
  text-align: left;
  width: 100%;
}

.subtitle-2{
  color: #e27614;
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  text-align: left;
}

.title-1{
  color: white;
  font-size: 2.8rem;
  font-weight: 650;
  line-height: 50px;
}

.p-1{
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

