@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes arrowMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes imageAnimation1 {
  0% {
    -webkit-filter: blur(0) brightness(70%);
  }
  50% {
    -webkit-filter: blur(3px) brightness(100%);
  }
  100% {
    -webkit-filter: blur(0) brightness(80%);
  }
}
.top-bar{
  min-height: 50px;
  width: 100%;
  background-color: #ffc901;
  padding: 0 50px;
  display: flex;
  align-items: center;

  .top-item{
    padding: 0 5px;

    i, span, span a{
      color: black;
      text-decoration: none;
      font-size: 16px;
      padding: 0 2px;
      cursor: pointer;
    }
  }
}

nav {
  background: #1b2335;
  color: #fff;
  height: 100px;
  line-height: 50px;
  width: 100%;
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    a {
      color: #fff;
      text-decoration: none;
      padding: 0 15px;
      font-size: 14px;
      transition: color .3s ease-out;
      &:hover {
        color: #e27614;
      }
    }

    .logo {
      color: #fff;
      font-size: 24px;
      font-weight: bold;

      img{
        width: 100%;
      }
    }

    .hamburger {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
      padding: 10px;
      &:focus {
        outline: none;
      }
      .bar {
        height: 3px;
        width: 25px;
        background-color: #fff;
        margin: 5px auto;
      }
    }

    .nav-items {
      display: flex;
      justify-content: space-around;
      align-items: center;

      @media screen and (max-width: 768px) {
        display: none;
      }

      &.open {
        display: flex;
      }
    }
  }
}

.nav-button{
  border: 2px solid #e27614;
  outline: none;
  padding: 5px 30px;
  border-radius: 8px;
  background-color: #e27614;
  color: white;
  transition: background-color .3s ease-out;
}

.nav-button:hover{
  background-color: transparent;
  outline: #e27614;
}

.sec-1{
  height: 100vh;
  position: relative;

  .sec-1-image{
    width: 65%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  .sec-1-cont{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52%;
    position: absolute;
    left: 4vw;
    z-index: 5;

    .sec-1-text{
      color: white;
      font-size: max(10vw, 100px);
      line-height: 120px;
      text-align: center;
    }

    .sec-1-text-2{
      color: white;
      font-size: max(5vw, 40px);
      line-height: 50px;
    }

    p{
      color: white;
      margin: 15px 0;
    }
  }
}

.sec-2{
  margin: 5vw 0;

  .sec-2-cont{
    max-width: 50%;
    padding-left: 2vw;
  }

  .sec-2-image-wrapper{
    position: relative;

    .sec-2-image-button{
      position: absolute;
      padding: 15px 25px;
      background-color: #fef3df;
      z-index: 99;
      border-radius: 20px;
      animation: upDown 2s ease-in-out infinite;
    }

    .sec-2-image{
      flex: 1;
      height: 100vh;
      position: relative;
      overflow: hidden;
      padding-bottom: 50px;
      z-index: 2;

      .image-cover{
        width: 100%;
        height: 50px;
        background-color: #0f172a;
        position: absolute;
        z-index: 2;
      }

      img{
        width: 100%;
        height: 100%;
        transform: skewY(-10deg);
      }
    }
  }

}

.sec-3{
  margin: 2vw 0;

  .sec-3-cont{
    max-width: 50%;
    animation: slideInLeft 1s ease-in-out;

    ul li{
      color: white;
      font-size: 18px;
      font-weight: 600;
      list-style: none;
      display: flex;
      align-items: center;

      i{
        background-color: #e27614;
        margin-right: 10px;
        border-radius: 100%;
        color: #0f172a;
        font-size: 14px;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .sec-3-image{
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    animation: slideInRight 1s ease-in-out;

    img{
      width: 100%;
    }
  }
}

.sec-4{
  margin: 5vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vw 7vw;
  min-height: 300px;
  background-image: url("../../../assets/images/bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .sec-4-cont{
    color: white;
  }
}

.sec-5{
  margin: 3vw 0;
  position: relative;

  .div-5-cont-1{
    min-width: 50%;
    flex: 1;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 100%;
    }

    .popup-video{
      position: absolute;
      top: calc(50% - 63px);
      left: calc(50% - 63px);
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;

      .play-btn{
        position: absolute;
        width: 127px;
        height: 127px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
          fill: rgba(255,255,255,.7);
          transition: fill .3s ease-out;
        }
      }
    }
  }
  .div-5-cont-1:hover{
    .popup-video{
      .play-btn{
        svg{
          fill: rgba(255,255,255,1);
        }
      }
    }
  }

  iframe{
    position: fixed;
    width: 90vw;
    min-height: 500px;
    top: 100px;
    left: 50px;
    display: none;
  }
  iframe.show {
    display: block;
  }
}

.sec-6{
  margin: 5vw 0;

  .sec-6-cont{
    button {
      margin-top: 10px;
      margin-bottom: 20px;
      margin-right: 20px;
      background-color: #e27614;
      color: white;
      border: 2px solid #e27614;
      outline: none;
      border-radius: 100%;
      width: 58px;
      height: 58px;
      transition: background-color .3s ease-out;
    }
    button:hover{
      background-color: transparent;
      color: #e27614;
    }

    .card-btn{
      color: white;
      text-decoration: none;
      font-weight: 600;
      display: flex;
      transition: color .3s ease-out;
    }
    .card-btn:hover{
      color: #e27614;
      .arrow{
        animation: arrowMove .5s ease-in-out;
      }
    }

    .arrow{
      margin-left: 7px;
      margin-top: 2px;
      width: 30px;
      transition: color .3s ease-out;
    }
  }
  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;

    .carousel {
      width: 1400px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: transform 0.3s ease-in-out;

      .carouselItem {
        width: 350px;
        margin: 0 15px;
        overflow: hidden;

        img{
          width: 100%;
        }
        img:hover{
          cursor: pointer;
          transform: scale(1.05);
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);

          transition: transform .3s ease-in-out;
        }

        h6,h3{
          color: white;
          transition: color .3s ease-out;
        }
        h6{
          margin: 15px 0;
        }
        h3:hover{
          color: #e27614;
          cursor: pointer;
        }
      }
    }
  }
}

.sec-7{
  margin: 2vw 0;

  .sec-7-cont{
    padding: 15px;
  }
}

.sec-8{
  margin: 5vw 0;

  .container{
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    position: relative;
    z-index: 2;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 3.5vw;

    .carousel-container2 {
      overflow: hidden;
    }

    .carousel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: transform 0.3s ease-in-out;
    }

    .carouselItem {
      margin-right: 60px;
      /* Other styles for carousel items */
      img{
        width: 100%;
        pointer-events: none;
      }

      h3{
        color: white;
        text-align: center;
        margin-top: 20px;
      }
    }
  }

  .container::-webkit-scrollbar {
    height: 8px;
  }
  .container::-webkit-scrollbar-track {
    background-color: #0f172a;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: #e27614;
    border-radius: 3px;
  }
  .container::-webkit-scrollbar-button{
    display: none;
  }
}

.sec-9{
  background-image: url(../../../assets/images/sec-9-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .sec-9-cont, .sec-9-image{
    flex: 1;
  }

  .sec-9-cont{
    height: 100%;
    width: 100%;

    .title-1{
      margin-bottom: 2.5vw;
    }

    input{
      width: 100%;
      outline: 1px solid white;
      border: none;
      height: 50px;
      background-color: #0f172a;
      color: white;
      padding-left: 15px;
      margin-right: 10px;
      margin-bottom: 20px;
    }

    .nav-button{
      min-width: 180px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  .sec-9-image{
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;

    .sec-9-image-vanilla{
      position: absolute;
      top: 0;
      width: 80%;
    }

    img{
      width: 100%;
    }
  }
}

.sec-10{
  margin-top: 10vw;
  margin-bottom: 2vw;
  min-height: 200px;
  display: flex;
  align-items: center;

  .sec-10-title-cont{
    max-width: 50%;
  }

  .nav-button{
    height: 50px;
  }

  .sec-10-cont{
    margin: 2vw 0;

    .card{
      background-color: #1b2335;
      color: white;
      border-radius: 0;

      .card-img-top{
        overflow: hidden;
        border-radius: 0;
      }

      .card-img-top img{
        width: 100%;
        height: 100%;
        -webkit-filter: brightness(70%);
        transition: .3s ease-in-out;
      }

      .card-body{
        .sec-10-card-date{
          width: 60px;
          height: 60px;
          border: 1px solid white;
          margin-right: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: border .3s ease-out;
        }

        .card-text{
          margin-top: 10px;
          margin-bottom: 15px;
          font-weight: 600;
          cursor: pointer;
          position: relative;
        }
        .card-text::before{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 100%;
          border-bottom: 2px solid white;
          transition: all .3s ease-out;
        }
        .card-text:hover::before, .card-text:focus::before{
          right: 0%;
        }

        .card-btn{
          color: white;
          text-decoration: none;
          font-weight: 600;
          display: flex;
        }
        .card-btn:hover{
          .arrow{
            animation: arrowMove .5s ease-in-out;
          }
        }

        .arrow{
          margin-left: 7px;
          margin-top: 2px;
          width: 30px;
          transition: color .3s ease-out;
        }
      }
    }
    .card:hover{
      .card-img-top img{
        animation: imageAnimation1 .4s ease-in-out;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
      .card-body .sec-10-card-date{
        border: 1px solid #e27614;
      }
      .card-body .arrow{
        color: #e27614;
      }
    }
  }
}

// Add responsive styles for smaller screens
@media screen and (max-width: 768px) {
  nav {
    .container {
      .hamburger {
        display: block;
      }

      .nav-items {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #333;
        top: 50px;
        left: 0;
        a {
          padding: 15px;
          width: 100%;
          text-align: center;
          &:hover {
            background-color: #555;
          }
        }
      }
    }

    // Show navigation items when hamburger button is clicked
    &.slideDown {
      .nav-items {
        display: flex;
      }
    }
  }

  .sec-1{
    height: auto;

    .sec-1-cont{
      width: 100%;
      position: inherit;
      height: auto;
    }
    .sec-1-image{
      width: 100%;
      height: auto;
      position: inherit;

      img{
        width: 100%;
      }
    }
  }

  .sec-2{
    .sec-2-cont{
      max-width: 100%;
      padding-left: 0;
    }
    .sec-2-image-wrapper .sec-2-image{
      height: calc(100vh /2);
    }
  }

  .sec-3{
    .sec-3-cont, .sec-3-image{
      max-width: 100%;
    }
  }

  .sec-9 .sec-9-image .sec-9-image-vanilla{
    width: 100%;
  }

  .sec-10{
    margin-top: 400px;
    min-height: 400px;

    .sec-10-title-cont{
      max-width: 100%;
    }
  }
}

