<div class="top-bar">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="d-flex align-items-center top-item">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <span>6123 Los angles, 1922</span>
    </div>
    <div class="d-flex align-items-center">
      <div class="top-item">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:(629) 555-0129">(629) 555-0129</a></span>
      </div>
      <div class="top-item">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <span><a href="mailto:info@example.com">info@example.com</a></span>
      </div>
    </div>
  </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dicta dolorum enim expedita molestiae
  perspiciatis quis tempora? Alias amet aspernatur at commodi consectetur, cum, dicta excepturi fugit impedit inventore
  ipsam iusto minus molestiae natus nesciunt odio odit optio provident quaerat quo quod, quos rem repellat sit sunt
  tempore ullam velit vero vitae voluptatibus. Atque blanditiis consequatur cum deleniti dolor dolore doloribus facere
  fuga fugit id incidunt, ipsum libero magnam molestiae necessitatibus nisi possimus quia saepe sequi tempora temporibus
  totam voluptate! Assumenda delectus in minus neque nobis nostrum tempora ut. Accusantium ad amet beatae distinctio,
  error est eum ex explicabo fugit ipsa ipsum iure modi molestias natus nisi nobis numquam odio odit officia omnis
  pariatur praesentium, reiciendis rem sit sunt tempora tenetur? Accusamus obcaecati, quae! Cum explicabo hic numquam
  officia similique. Aliquid mollitia praesentium sunt ut. A aliquid, corporis dolore eligendi enim esse facilis
  inventore ipsam ipsum iure numquam officia placeat praesentium quaerat quam repellat tempore temporibus totam
  voluptate voluptates? Consequatur culpa deserunt dolor dolores ducimus eius eligendi eum molestiae molestias mollitia
  natus nemo nesciunt obcaecati perspiciatis placeat quod recusandae, repellendus, sunt! Ad amet asperiores blanditiis
  consectetur, corporis cumque delectus deleniti dolore doloribus dolorum earum eligendi enim et eveniet ex facilis
  fugiat fugit impedit iure libero modi, nam obcaecati officia porro possimus, quae quam quidem recusandae reprehenderit
  saepe soluta ut veritatis voluptate. Animi assumenda, doloribus eligendi excepturi exercitationem fuga fugiat impedit
  ipsum itaque iure omnis quae, quo sapiente sed temporibus vel vero? Ad, doloremque eum perferendis quos similique vero
  voluptatem. Ab ad alias, debitis, deserunt error eum fuga fugit illo illum, iste labore libero mollitia neque nisi
  praesentium reiciendis repellat repellendus sed similique sint soluta sunt voluptatum? Animi deleniti dolorem
  doloribus, earum eum hic iste minima quidem ratione reiciendis ut voluptates? Commodi eligendi, molestiae! Ab alias
  architecto consectetur consequatur deserunt dolor dolorem dolorum et, exercitationem fuga laborum molestias mollitia
  natus nisi nobis, nulla officiis optio perferendis quas quod similique soluta vel velit? A animi dolorem facilis ut
  veritatis? Ab ad alias aliquam aperiam cupiditate distinctio eaque exercitationem hic illo inventore natus, nesciunt
  quis quo ratione rem, repudiandae tempore. Ab assumenda nobis numquam! Assumenda error illo laboriosam mollitia
  numquam pariatur vitae voluptatum? Aliquam, deleniti deserunt doloribus, fugiat harum hic maxime necessitatibus nemo
  nulla, perspiciatis quae quo quod quos sed sunt tempore voluptates. Adipisci aliquid aperiam asperiores aspernatur
  beatae debitis dignissimos dolor eaque, eligendi, et ex expedita fuga fugit harum illo illum in, ipsa labore magnam
  minima necessitatibus nihil perspiciatis porro quam rem repellat sit sunt tenetur velit voluptate? A deserunt enim
  impedit libero necessitatibus nostrum pariatur quia quod soluta vitae. Aperiam architecto aut delectus distinctio
  dolore labore, porro repellendus tempore. Accusantium dicta dolores eaque, eveniet, impedit itaque, laboriosam minus
  nobis nostrum perspiciatis qui sint! Aliquam amet aperiam asperiores, cumque cupiditate dicta, doloribus eius error
  eum incidunt ipsam laudantium natus nemo neque nulla quia sed! Ad commodi corporis doloremque eum explicabo labore
  reiciendis vitae! Ducimus et, eum explicabo fugiat maxime nihil praesentium vel. Adipisci alias animi consectetur
  culpa cum dolor dolores doloribus ducimus eius eos esse ex fuga harum id inventore itaque, laboriosam maxime minus
  mollitia nam nemo nihil odio odit officia pariatur perspiciatis placeat, quaerat quam quisquam repellendus
  reprehenderit repudiandae rerum saepe tenetur ut vero, voluptatibus? Aliquam at blanditiis commodi distinctio dolores
  doloribus eaque eius exercitationem fugiat inventore mollitia nulla odio optio placeat provident, quasi ratione sequi
  vero, voluptatem voluptatum. Corporis fugiat magnam omnis repellendus tempora. Autem nisi odit praesentium quisquam
  saepe. A facilis ipsum officiis quisquam sapiente unde veritatis, voluptatum? Eius ipsa magni mollitia, pariatur
  praesentium repellendus. Aliquid consectetur consequatur deserunt excepturi facere laboriosam maxime nihil repellat
  voluptates. Ab aliquid, blanditiis cumque, est eum excepturi fuga fugit in laborum laudantium minima nisi officiis
  quae quis quisquam rem similique sint veritatis. A culpa distinctio exercitationem, fuga inventore ipsam iusto maiores
  numquam quam quo quos ratione reprehenderit sit tempora temporibus vero voluptate? Ab, aperiam aspernatur dolor eius
  modi molestias officiis quo? Ab accusamus aperiam delectus dignissimos doloremque error esse est et eveniet
  exercitationem explicabo illum iure laudantium maxime nobis odio odit officia optio quaerat quis quo reprehenderit
  repudiandae, saepe similique tempora temporibus, velit, voluptate. Architecto debitis exercitationem facilis hic
  numquam optio quibusdam rem sit unde veniam vitae, voluptate. Adipisci aliquam error inventore ipsam nihil
  perspiciatis praesentium qui ratione repellat voluptatem! Beatae impedit iure laboriosam nemo nostrum quam quasi
  ratione rem repudiandae sed sequi, similique, suscipit tenetur ullam, vel vitae voluptatum. Ad asperiores beatae
  dolore dolorem excepturi molestiae placeat, unde ut velit veritatis! At debitis fugit numquam provident, quidem unde
  vero. Iste iure modi quae! Mollitia natus odio quos! Amet cum eligendi esse iusto laboriosam minima neque vero
  voluptates. Amet, aperiam beatae cupiditate deleniti dignissimos dolore dolores ea earum eius eligendi et id incidunt
  modi nesciunt obcaecati qui quibusdam, quisquam quod quos rem sed sit veniam voluptatibus. Adipisci alias aperiam aut
  autem commodi cum cumque dolore dolorem ducimus ea eius eligendi et facilis hic illo itaque magni modi molestiae
  mollitia nemo neque nesciunt optio provident quas quis quisquam quo recusandae, reiciendis repellat reprehenderit sunt
  suscipit ullam vel vero, vitae voluptatem voluptates. Ab ad architecto asperiores assumenda atque commodi dicta dolor
  enim est eum eveniet ex excepturi explicabo facere fugit harum id ipsa, iure magni molestias mollitia nisi nobis
  obcaecati officiis perspiciatis porro provident quidem reiciendis repellat similique sit soluta temporibus tenetur
  veritatis vero voluptates voluptatibus. Accusantium consequatur cupiditate doloremque, error fugiat incidunt ipsum
  natus nesciunt quidem recusandae. Et eum, excepturi id ipsam laborum minus, odit optio porro quae repellat suscipit
  velit vero voluptatibus! A alias asperiores aut consequatur delectus deleniti earum error ipsum iusto nostrum, odit
  placeat quaerat qui sed totam vel velit. Animi explicabo temporibus vitae. Aspernatur at, aut consectetur consequatur
  dolore fuga id incidunt iste laborum laudantium magni modi necessitatibus nobis non obcaecati odio odit perferendis
  quas repellat repudiandae sint, tempore tenetur veniam vitae voluptatibus. Adipisci alias aperiam beatae consectetur
  corporis debitis earum, expedita facere id mollitia odit officia pariatur quibusdam quod saepe temporibus ullam!
  Asperiores cum delectus dignissimos, eligendi nobis provident quidem reiciendis ut voluptas. Architecto cumque
  cupiditate facilis illum rerum!</p>
