<div class="d-none d-md-flex home-top-bar">
  <div class="d-md-flex align-items-center justify-content-between w-100">
    <div class="d-flex align-items-center top-item">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <span>6123 Los angles, 1922</span>
    </div>
    <div class="d-flex align-items-center">
      <div class="top-item">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:(629) 555-0129">(629) 555-0129</a></span>
      </div>
      <div class="top-item">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <span><a href="mailto:info@example.com">info@example.com</a></span>
      </div>
    </div>
  </div>
</div>

<nav>
  <div class="container">
    <div class="logo">
      <img src="./assets/images/logo.png" alt="logo">
    </div>
    <button class="hamburger" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
    <div class="nav-items" [class.open]="isMenuOpen">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About Us</a>
      <a (click)="pagesTabOpen()" style="cursor: pointer">Pages &blacktriangledown;</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/contact">Contact</a>
    </div>
    <div class="pages-list" [class.active]="isPagesTabOpen">
      <a routerLink="/service">Service</a>
      <a routerLink="/project">Project</a>
      <a routerLink="/team">Team</a>
      <a routerLink="/faq">Faq</a>
    </div>
    <div class="d-none d-md-block">
      <button class="nav-button">
        Get a quote &bkarow;
      </button>
    </div>
  </div>
</nav>

<div class="sec-1">
  <div class="sec-1-cont">
    <div class="container">
      <div class="sec-1-text" style="padding-right: 6vw">
        MO
      </div>
      <div class="d-flex">
        <p class="d-none d-md-block">It is a long established fact that a reader wills distracted by the readable
          content of a page hen looking at its
          layout The point of</p>
        <div class="sec-1-text">
          Vies
        </div>
      </div>
      <div class="sec-1-text-2">
        The ultimate driving machine
      </div>
    </div>
  </div>
  <div class="sec-1-image">
    <img src="./assets/images/img-1.png" alt="banner">
  </div>
</div>

<div class="sec-2">
  <div class="container">
    <div class="d-md-flex flex-row-reverse align-items-center justify-content-between w-100">
      <div class="d-flex flex-column justify-content-start align-items-start sec-2-cont">
        <div class="subtitle-1">a tale of</div>
        <div class="title-1">The Ultimate Movie Destination</div>
        <p class="p-1">It is a long established fact that a reader will distracted by the readable content of a page hen
          looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using</p>
        <p class="p-1">It is a long established fact that a reader will distracted by the readable content of a page hen
          looking at its layout.The point of using Lorem Ipsum</p>
        <button class="nav-button" style="min-height: 50px">
          Learn More
        </button>
      </div>

      <div>
        <div class="sec-2-image-wrapper">
          <div class="d-flex align-items-center justify-content-center w-100">
            <div class="sec-2-image-button">
              <div class="d-flex align-items-center justify-content-center">
                <img width="50" height="50" src="https://img.icons8.com/bubbles/50/circled-play.png"
                     alt="circled-play"/>
                <div>
                  <span style="font-weight: 600; font-size: 32px; color: black">{{counter}} +</span>
                  <p style="color: black">Latest Movies</p>
                </div>
              </div>
            </div>
          </div>

          <div class="sec-2-image">
            <div class="image-cover"></div>
            <img src="./assets/images/img-1.jpg" alt="image">
          </div>
          <div class="d-none d-md-block"
               style="background-color: #e27614; width: 100%; height: calc(100vh - 80px); transform: skewY(-10deg); position: absolute; bottom: -10px; left: -30px; z-index: 0">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="sec-3">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-between-w-100">
      <div class="sec-3-cont">
        <p class="p-1">It is a long established fact that a reader will distracted by the readable content of a page hen
          looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using</p>
        <ul>
          <li><i class="fa-solid fa-check"></i>More Than Just a Movie</li>
          <li><i class="fa-solid fa-check"></i>Lights Out, Movie On</li>
          <li><i class="fa-solid fa-check"></i>Enter a World of Imagination</li>
        </ul>
        <p class="p-1">It is a long established fact that a reader will distracted by the readable content of a page hen
          looking at its layout.The point of using Lorem Ipsum</p>
      </div>
      <div class="sec-3-image">
        <img src="./assets/images/img-2.jpg" alt="banner">
      </div>
    </div>
  </div>
</div>

<div class="sec-4">
  <div class="d-md-flex align-items-center justify-content-between w-100">
    <div class="sec-4-cont">
      <h4>Have any ideas in your mind?</h4>
      <h2>Create your next Project with us</h2>
    </div>
    <button class="nav-button" style="height: 50px">Get a quote &bkarow;</button>
  </div>
</div>

<div class="sec-5">
  <div class="container">
    <div class="d-md-flex align-items-end justify-content-between w-100">
      <div class="div-5-cont-1">
        <button class="popup-video">
                              <span class="play-btn"
                                    (click)="loadVideo('https://www.youtube.com/embed/yfK5PRth85Y?si=yYI_pyf-Y4OK9xNa')">
                                 <svg fill="#ffffff" height="200px" width="200px" version="1.1" id="Layer_1"
                                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                      viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                                   id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g
                                   id="SVGRepo_iconCarrier"> <g id="XMLID_228_"> <path id="XMLID_229_"
                                                                                       d="M236.95,152.281l-108-67.501c-4.624-2.89-10.453-3.044-15.222-0.4C108.959,87.024,106,92.047,106,97.5v135 c0,5.453,2.959,10.476,7.728,13.12c2.266,1.256,4.77,1.88,7.271,1.88c2.763,0,5.523-0.763,7.95-2.28l108-67.499 c4.386-2.741,7.05-7.548,7.05-12.72C244,159.829,241.336,155.022,236.95,152.281z"></path> <path
                                   id="XMLID_230_"
                                   d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M165,300 c-74.44,0-135-60.561-135-135S90.56,30,165,30s135,60.561,135,135S239.439,300,165,300z"></path> </g> </g></svg>
                              </span>
        </button>
        <img src="./assets/images/sec-5-1.jpg" alt="banner">
      </div>
      <div class="div-5-cont-1">
        <button class="popup-video">
                              <span class="play-btn"
                                    (click)="loadVideo('https://www.youtube.com/embed/yfK5PRth85Y?si=yYI_pyf-Y4OK9xNa')">
                                 <svg fill="#ffffff" height="200px" width="200px" version="1.1" id="Layer_1"
                                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                      viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                                   id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g
                                   id="SVGRepo_iconCarrier"> <g id="XMLID_228_"> <path id="XMLID_229_"
                                                                                       d="M236.95,152.281l-108-67.501c-4.624-2.89-10.453-3.044-15.222-0.4C108.959,87.024,106,92.047,106,97.5v135 c0,5.453,2.959,10.476,7.728,13.12c2.266,1.256,4.77,1.88,7.271,1.88c2.763,0,5.523-0.763,7.95-2.28l108-67.499 c4.386-2.741,7.05-7.548,7.05-12.72C244,159.829,241.336,155.022,236.95,152.281z"></path> <path
                                   id="XMLID_230_"
                                   d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M165,300 c-74.44,0-135-60.561-135-135S90.56,30,165,30s135,60.561,135,135S239.439,300,165,300z"></path> </g> </g></svg>
                              </span>
        </button>
        <img src="./assets/images/sec-5-2.jpg" alt="banner">
      </div>
    </div>
    <div class="d-md-flex align-items-start justify-content-between w-100">
      <div class="div-5-cont-1">
        <button class="popup-video">
                              <span class="play-btn"
                                    (click)="loadVideo('https://www.youtube.com/embed/yfK5PRth85Y?si=yYI_pyf-Y4OK9xNa')">
                                 <svg fill="#ffffff" height="200px" width="200px" version="1.1" id="Layer_1"
                                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                      viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                                   id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g
                                   id="SVGRepo_iconCarrier"> <g id="XMLID_228_"> <path id="XMLID_229_"
                                                                                       d="M236.95,152.281l-108-67.501c-4.624-2.89-10.453-3.044-15.222-0.4C108.959,87.024,106,92.047,106,97.5v135 c0,5.453,2.959,10.476,7.728,13.12c2.266,1.256,4.77,1.88,7.271,1.88c2.763,0,5.523-0.763,7.95-2.28l108-67.499 c4.386-2.741,7.05-7.548,7.05-12.72C244,159.829,241.336,155.022,236.95,152.281z"></path> <path
                                   id="XMLID_230_"
                                   d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M165,300 c-74.44,0-135-60.561-135-135S90.56,30,165,30s135,60.561,135,135S239.439,300,165,300z"></path> </g> </g></svg>
                              </span>
        </button>
        <img src="./assets/images/sec-5-3.jpg" alt="banner">
      </div>
      <div>
        <div class="div-5-cont-1">
          <button class="popup-video">
                              <span class="play-btn"
                                    (click)="loadVideo('https://www.youtube.com/embed/yfK5PRth85Y?si=yYI_pyf-Y4OK9xNa')">
                                 <svg fill="#ffffff" height="200px" width="200px" version="1.1" id="Layer_1"
                                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                      viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                                   id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g
                                   id="SVGRepo_iconCarrier"> <g id="XMLID_228_"> <path id="XMLID_229_"
                                                                                       d="M236.95,152.281l-108-67.501c-4.624-2.89-10.453-3.044-15.222-0.4C108.959,87.024,106,92.047,106,97.5v135 c0,5.453,2.959,10.476,7.728,13.12c2.266,1.256,4.77,1.88,7.271,1.88c2.763,0,5.523-0.763,7.95-2.28l108-67.499 c4.386-2.741,7.05-7.548,7.05-12.72C244,159.829,241.336,155.022,236.95,152.281z"></path> <path
                                   id="XMLID_230_"
                                   d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M165,300 c-74.44,0-135-60.561-135-135S90.56,30,165,30s135,60.561,135,135S239.439,300,165,300z"></path> </g> </g></svg>
                              </span>
          </button>
          <img src="./assets/images/sec-5-4.jpg" alt="banner">
        </div>
        <h1 style="padding: 0 15px; color: white; font-weight: 600;">Your Hands Get Ready for a Cinematic Journey</h1>
      </div>

    </div>

    <iframe width="560" height="315" [src]="videoSrc" [ngClass]="{'show': popupVideo}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

  </div>
</div>

<div class="sec-6">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-center">
      <div class="sec-6-cont">
        <div class="title-1">Comedy And Action Series</div>
        <div class="d-flex">
          <button (click)="prevSlide()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
          <button (click)="nextSlide()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
        <a href="#" class="card-btn">Read More <pre class="arrow">&dbkarow;</pre></a>
      </div>

      <div class="carousel-container">
        <div class="carousel" [style.transform]="'translateX(calc(-' + (currentIndex * (350 + 15)) + 'px))'">
          <div *ngFor="let item of carouselItems" class="carouselItem">
            <img src="{{item.image}}" alt="{{item.title}}">
            <h6>{{item.date}}</h6>
            <h3>{{item.title}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="sec-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 sec-7-cont">
        <div class="d-flex align-items-center justify-content-center">
          <img src="./assets/images/sec-7-1.png" alt="badge">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 sec-7-cont">
        <div class="d-flex align-items-center justify-content-center">
          <img src="./assets/images/sec-7-2.png" alt="badge">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 sec-7-cont">
        <div class="d-flex align-items-center justify-content-center">
          <img src="./assets/images/sec-7-3.png" alt="badge">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 sec-7-cont">
        <div class="d-flex align-items-center justify-content-center">
          <img src="./assets/images/sec-7-4.png" alt="badge">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-8">
  <div class="container">
    <div class="carousel-container2"
         (mousedown)="onMouseDown($event)"
         (document:mouseup)="onMouseUp()"
         (document:mousemove)="onMouseMove($event)">
      <div class="carousel"
           [style.transform]="'translateX(-' + currentIndex * (itemWidth + margin) + 'px)'">
        <div *ngFor="let item of carouselItems2" class="carouselItem">
          <div class="sec-8-image">
            <img src="{{item.image}}" alt="{{item.title}}">
          </div>
          <h3>{{item.title}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-9">
  <div class="container">
    <div class="d-md-flex align-items-start justify-content-center">
      <div class="sec-9-cont">
        <div class="subtitle-2">NEWSLETTER</div>
        <div class="title-1">Want to Be a Member?</div>
        <div class="d-xxl-flex align-items-center justify-content-center">
          <input type="text" placeholder="Enter your email">
          <button class="nav-button">Subscribe Now</button>
        </div>
      </div>
      <div class="sec-9-image">
        <div class="sec-9-image-vanilla">
          <img src="./assets/images/sec-9-1.jpg" alt="banner">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-10">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-between">
      <div class="sec-10-title-cont">
        <div class="subtitle-1">LATEST NEWS</div>
        <div class="title-1">A World of Movies in
          Your Hands</div>
      </div>
      <button class="nav-button">More News</button>
    </div>

    <div class="sec-10-cont">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card" style="width: 100%">
            <div class="card-img-top">
              <img src="./assets/images/sec-10-1.jpg" alt="...">
            </div>
            <div class="card-body">
              <div class="d-flex">
                <div class="sec-10-card-date">
                  <span>20</span>
                  <span>Dec</span>
                </div>
                <div style="flex: 1">
                  <h6 class="card-title">Category</h6>
                  <h4 class="card-text">Enter a World of Imagination</h4>
                  <a href="#" class="card-btn">Read More <pre class="arrow">&dbkarow;</pre></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card" style="width: 100%">
            <div class="card-img-top">
              <img src="./assets/images/sec-10-2.jpg" alt="...">
            </div>
            <div class="card-body">
              <div class="d-flex">
                <div class="sec-10-card-date">
                  <span>23</span>
                  <span>Dec</span>
                </div>
                <div style="flex: 1">
                  <h6 class="card-title">Category</h6>
                  <h4 class="card-text">See the World Through the Lens</h4>
                  <a href="#" class="card-btn">Read More <pre class="arrow">&dbkarow;</pre></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card" style="width: 100%">
            <div class="card-img-top">
              <img src="./assets/images/sec-10-3.jpg" alt="...">
            </div>
            <div class="card-body">
              <div class="d-flex">
                <div class="sec-10-card-date">
                  <span>23</span>
                  <span>Dec</span>
                </div>
                <div style="flex: 1">
                  <h6 class="card-title">Category</h6>
                  <h4 class="card-text">The Future of Movie Watching</h4>
                  <a href="#" class="card-btn">Read More <pre class="arrow">&dbkarow;</pre></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
