.container {
  span {
    color: #fff;
  }

  .cat-name {
    color: #fff;
    background-color: #e27614;
    padding: 10px 20px;
    margin-right: 20px;
  }

  img {
    width: 100%;
    margin: 30px 0;
  }

  i {
    color: #e27614;
    font-size: 20px;
    margin-right: 8px;
  }

  h6 {
    color: #fff;
    font-size: 14px;
    margin: 0 30px 0 0;
    font-weight: 400 !important;
  }

  .quote {
    width: 100%;
    padding: 40px 60px;
    background-color: #1d2943;
    background-image: url("../../../../assets/images/blog/quote.png");
    background-repeat: no-repeat;
    background-position: 15px 15px;
    min-height: 100px;
    margin: 30px 0;

    .p-2 {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .hr-40 {
    width: 40px;
    height: 2px;
    background-color: #e27614;
    margin-right: 8px;
  }

  h3 {
    margin: 50px 0;
  }

  .cat-row {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    a {
      color: white;
      text-decoration: none;
      transition: .3s ease-in-out;

      &:hover {
        text-decoration: #e27614 underline;
      }
    }
  }

  .comment-section {
    margin: 40px 0;
    padding: 3vw 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    .comment-wrapper {
      position: relative;
      padding: 25px;
      width: 100%;
      border: 2px solid #555;
      margin-bottom: 20px;

      img {
        width: 60px;
        height: 60px;
        margin: 0 20px 0 0;
      }

      h6 {
        margin-bottom: 12px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(2) {
        width: 90%;
      }
    }

    .btn-reply {
      position: absolute;
      right: 25px;
      top: 25px;
      background-color: #e27614;
      color: white;
      border: 2px solid #e27614;
      outline: none;
      border-radius: 20px;
      padding: 10px 20px;
      transition: background-color .3s ease-out;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .contact-form {
    padding: 50px 0 0 0;

    .text-input, .text-area {
      width: 100%;
      min-height: 50px;
      border-radius: 0;
      outline: none;
      border: 1px solid transparent;
      margin-bottom: 16px;
      padding: 16px 32px;
      background-color: rgba(255, 255, 255, 0.0500000007);
      color: white;

      &::placeholder {
        color: white;
      }

      &:focus {
        border: 1px solid #e27614;
      }
    }

    label input {
      display: none; /* Hide the default checkbox */
    }

    /* Style the artificial checkbox */
    label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      margin-bottom: 20px;
    }

    label span {
      height: 15px;
      width: 15px;
      border: 1px solid #e27614;
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin-right: 12px;
      overflow: hidden;
    }

    /* Style its checked state...with a ticked icon */
    [type=checkbox]:checked + span:before {
      content: '\2714';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #e27614;
    }

    .contact-button {
      background-color: #e27614;
      color: #fff;
      transition: background-color .3s ease-out;
      outline: none;
      border: 2px solid #e27614;
      padding: 16px 40px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
