<nav [ngClass]="{'slideDown': isScrolled, 'slideUp': !isScrolled}">
  <div class="container">
    <div class="logo">
      <img src="./assets/images/logo.png" alt="logo" routerLink="/home">
    </div>
    <button class="hamburger" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
    <div class="nav-items" [class.open]="isMenuOpen" [ngStyle]="{'z-index':isMenuOpen?'10':'0'}">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About Us</a>
      <a (click)="pagesTabOpen()" style="cursor: pointer">Pages</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/contact">Contact</a>
    </div>
    <div class="pages-list" [class.active]="isPagesTabOpen">
      <a routerLink="/">Service</a>
      <a routerLink="/about">Project</a>
      <a routerLink="/blog">Team</a>
      <a routerLink="/contact">Faq</a>
    </div>
    <div class="d-none d-md-block">
      <button class="nav-button">
        Get a quote &bkarow;
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between w-100">
      <img src="./assets/images/logo.png" alt="logo">
      <div class="d-flex align-items-center">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
      </div>
    </div>

    <hr>

    <div class="row" style="padding: 30px 0">
      <div class="col-12 col-sm-6 col-md-3" style="margin-top: 15px">
        <h4>About Us</h4>
        <p>
          Lorem Ipsum is simply is dumi omy is text Loremo Ipsum is simply is out no our o dummy text.Lorem Ipsum
        </p>
        <div class="d-flex align-items-center">
          <i class="fa fa-phone" aria-hidden="true" style="color: #f94b1f"></i>
          <h5>(+888) 123 456 765</h5>
        </div>
        <div class="d-flex align-items-center">
          <i class="fa fa-envelope" aria-hidden="true" style="color: #f94b1f"></i>
          <h5>infoname@mail.com</h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3" style="margin-top: 15px">
        <div class="d-flex" style="height: 30px; margin-bottom: 15px">
          <div class="d-flex flex-column align-items-center justify-content-between" style="margin-right: 20px; height: 100%">
            <div class="h-hr-top"></div>
            <div class="h-hr-bottom"></div>
          </div>
          <h4>Links</h4>
        </div>
        <div class="d-flex flex-column">
          <a href="#">Credit industry</a>
          <a href="#">Credit Consulting</a>
          <a href="#">Credit Business <br>Credit industry</a>
          <a href="#">Finance industry</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3" style="margin-top: 15px">
        <div class="d-flex" style="height: 30px; margin-bottom: 15px">
          <div class="d-flex flex-column align-items-center justify-content-between" style="margin-right: 20px; height: 100%">
            <div class="h-hr-top"></div>
            <div class="h-hr-bottom"></div>
          </div>
          <h4>Our Studio</h4>
        </div>
        <div class="d-flex flex-column">
          <a href="#">Services</a>
          <a href="#">Our Works</a>
          <a href="#">Team Activity</a>
          <a href="#">Set For Shoot</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3" style="margin-top: 15px">
        <div class="d-flex" style="height: 30px; margin-bottom: 15px">
          <div class="d-flex flex-column align-items-center justify-content-between" style="margin-right: 20px; height: 100%">
            <div class="h-hr-top"></div>
            <div class="h-hr-bottom"></div>
          </div>
          <h4>News Letter</h4>
        </div>

        <h3 style="margin-bottom: 10px; margin-top: 30px; color: white; font-size: 20px">Subscribe For Update</h3>

        <div class="input-group">
          <input type="text" class="form-control" aria-label="News Letter">
          <button type="button" class="btn btn-outline-secondary"><pre>&dbkarow;</pre></button>
        </div>
      </div>
    </div>

    <hr>

    <div class="d-md-flex align-items-center justify-content-between" style="height: 70px">
      <p style="color: #aaa">© Kavindu Kokila 2023 | All rights reserved</p>
      <div class="d-flex">
        <span>Privacy</span>&nbsp;&nbsp;<pre>|</pre>&nbsp;&nbsp;
        <span>Term</span>&nbsp;&nbsp;<pre>|</pre>&nbsp;&nbsp;
        <span>Sitemap</span>&nbsp;&nbsp;<pre>|</pre>&nbsp;&nbsp;
        <span>Help</span>
      </div>
    </div>

  </div>
</footer>
