<nav [ngClass]="{'slideDown': isScrolled, 'slideUp': !isScrolled}">
  <div class="container">
    <div class="logo">
      <img src="./assets/images/logo.png" alt="logo">
    </div>
    <button class="hamburger" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
    <div class="nav-items" [class.open]="isMenuOpen">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About Us</a>
      <a routerLink="/services">Pages</a>
      <a routerLink="/services">Blog</a>
      <a routerLink="/contact">Contact</a>
    </div>
    <div class="d-none d-md-block">
      <button class="nav-button">
        Get a quote &bkarow;
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
