<div class="container">
  <div class="d-lg-flex align-items-start justify-content-between">
    <div class="project-content-side">
      <img src="./assets/images/service/img-4.jpg" alt="banner">

      <h1 class="title-1">The stachu hub creating products</h1>

      <p class="p-1">Aliquam eros justo, posuere loborti vive rra laoreet matti ullamc orper posu ere viverra .Aliquam
        eros justo, posuere lobortis non, vive rra laoreet augue mattis fermentum ullamcorper viverra Aliquam eros
        justo, posuere loborti vive rra laoreet matti ullamc orper posu ere viverra .Aliquam eros justo, posuere
        lobortis</p>

      <div class="row">
        <div class="col-12 col-md-7">
          <h3>Project Challenging story</h3>
          <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam
            eros justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam
            eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere
            lobortis non, viverra.</p>
          <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam
            eros justo, posuere lobortis non, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet</p>
          <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreematti ullamcorper posuere viverra .Aliquam
            eros just</p>
        </div>
        <div class="col-12 col-md-5">
          <img src="./assets/images/projects/img-1.jpg" alt="banner-1">
          <div class="d-flex align-items-center justify-content-between w-100" style="margin-bottom: 18px">
            <div class="h-hr"></div>
            <h4>A picture is worth of standard and like</h4>
          </div>
        </div>
        <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam
          eros justoposuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
          justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis
          non, viverra laoreet augue mattis ullamcorper viverra laoreet .</p>
      </div>

      <div class="quote">
        <div class="d-md-flex align-items-center justify-content-between w-100">
          <div class="profile">
            <img src="./assets/images/projects/img-2.jpg" alt="profile">
          </div>
          <div style="width: 100%">
            <h4>Stanio lainto</h4>
            <p class="p-1">justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo,
              posuere lobortis non, viverra laoreet augue mattis ullamcorper</p>
          </div>
          <img src="./assets/images/projects/icon.svg" alt="quote" width="56" height="41" class="quote-icon">
        </div>
      </div>

      <div class="d-flex d-align-items-center">
        <button class="btn-1" [ngClass]="challenge?'active':''" (click)="clickChallenge()">Challenge</button>
        <button class="btn-1" [ngClass]="solution?'active':''" (click)="clickSolution()">Solution</button>
        <button class="btn-1" [ngClass]="result?'active':''" (click)="clickResult()">Result</button>
      </div>
      <div class="content-loader">
        <div *ngIf="challenge" class="content">
          <ul>
            <li>A picture is worth of standard and like Your New Cars Perform ance and</li>
            <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
              justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
              justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam.</p>
            <li>Once Upon A Time: Using Story Structure For Better</li>
            <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
              justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
              justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam.</p>
            <li>Movie Poster Designs To Inspire Your PWA Hero Images</li>
            <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
              justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
              justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam.</p>
          </ul>
        </div>
        <div *ngIf="solution" class="content">
          <ul>
            <li>Once Upon A Time: Using Story Structure For Better</li>
            <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
              justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
              justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam.</p>
            <li>Movie Poster Designs To Inspire Your PWA Hero Images</li>
            <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
              justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
              justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam.</p>
            <li>A picture is worth of standard and like Your New Cars Perform ance and</li>
            <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
              justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
              justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam.</p>
          </ul>
        </div>
        <div *ngIf="result" class="content">
          <ul>
            <li>Movie Poster Designs To Inspire Your PWA Hero Images</li>
            <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
              justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
              justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam.</p>
            <li>A picture is worth of standard and like Your New Cars Perform ance and</li>
            <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
              justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
              justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam.</p>
            <li>Once Upon A Time: Using Story Structure For Better</li>
            <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
              justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
              justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam.</p>
          </ul>
        </div>
      </div>

    </div>
    <div class="project-page-content">
      <div class="container-1">
        <div>
          <h4>Feature case</h4>
          <div class="feature-case-wrapper">
            <div class="img-wrapper">
              <img src="./assets/images/projects/img-3.jpg" alt="img">
            </div>
            <div class="case-content">
              <h5>A picture is worth standard and stand</h5>
              <span>Marketing</span>
            </div>
          </div>

          <div class="feature-case-wrapper">
            <div class="img-wrapper">
              <img src="./assets/images/projects/img-4.jpg" alt="img">
            </div>
            <div class="case-content">
              <h5>A picture is worth standard and stand</h5>
              <span>Marketing</span>
            </div>
          </div>

          <div class="feature-case-wrapper">
            <div class="img-wrapper">
              <img src="./assets/images/projects/img-5.jpg" alt="img">
            </div>
            <div class="case-content">
              <h5>A picture is worth standard and stand</h5>
              <span>Marketing</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container-1">
        <h4>See our gallery</h4>
        <div class="gallery">
          <div class="row">
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-6.jpg" alt="img-6">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-7.jpg" alt="img-7">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-8.jpg" alt="img-8">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-9.jpg" alt="img-9">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-10.jpg" alt="img-10">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-11.jpg" alt="img-11">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-12.jpg" alt="img-12">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-13.jpg" alt="img-13">
            </div>
            <div class="col-4">
              <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/project/img-14.jpg" alt="img-14">
            </div>
          </div>
        </div>
      </div>

      <div class="container-1">
        <div class="content">
          <h3>How can we help you</h3>
          <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreematti ullamcorper posuere viverra .Aliquam
            eros just</p>
          <button class="nav-button">Contact us</button>
        </div>
      </div>

    </div>
  </div>
</div>
