<div class="container">
  <div class="d-lg-flex align-items-start justify-content-between">
    <div class="project-content-side">
      <img src="./assets/images/service/img-4.jpg" alt="banner">

      <h1 class="title-1">The stachu hub creating products</h1>

      <p class="p-1">Aliquam eros justo, posuere loborti vive rra laoreet matti ullamc orper posu ere viverra .Aliquam
        eros justo, posuere lobortis non, vive rra laoreet augue mattis fermentum ullamcorper viverra Aliquam eros
        justo, posuere loborti vive rra laoreet matti ullamc orper posu ere viverra .Aliquam eros justo, posuere
        lobortis</p>

      <div class="row">
        <div class="col-12 col-md-7">
          <h3>Project Challenging story</h3>
          <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam
            eros justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam
            eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere
            lobortis non, viverra.</p>
          <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam
            eros justo, posuere lobortis non, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet</p>
          <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreematti ullamcorper posuere viverra .Aliquam
            eros just</p>
        </div>
        <div class="col-12 col-md-5">
          <img src="./assets/images/projects/img-1.jpg" alt="banner-1">
          <div class="d-flex align-items-center justify-content-between w-100" style="margin-bottom: 18px">
            <div class="h-hr"></div>
            <h4>A picture is worth of standard and like</h4>
          </div>
        </div>
        <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam
          eros justoposuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
          justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis
          non, viverra laoreet augue mattis ullamcorper viverra laoreet .</p>
      </div>

      <div class="quote">
        <div class="d-md-flex align-items-center justify-content-between w-100">
          <div class="profile">
            <img src="./assets/images/projects/img-2.jpg" alt="profile">
          </div>
          <div style="width: 100%">
            <h4>Stanio lainto</h4>
            <p class="p-1">justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo,
              posuere lobortis non, viverra laoreet augue mattis ullamcorper</p>
          </div>
          <img src="./assets/images/projects/icon.svg" alt="quote" width="56" height="41" class="quote-icon">
        </div>
      </div>

    </div>
    <div class="project-page-content">
      <div class="container-1">
        <div class="d-flex flex-column align-items-start justify-content-start w-100">
          <div class="d-flex align-items-center" style="margin-bottom: 30px">
            <div class="hr-40"></div>
            <h3>Services</h3>
          </div>
          <div class="cat-button active">
            <span>Business Advice</span>
          </div>
          <hr>
          <div class="cat-button">
            <span>Stock Market breing</span>
          </div>
          <hr>
          <div class="cat-button">
            <span>Regular the product</span>
          </div>
          <hr>
          <div class="cat-button">
            <span>Precious metal stant</span>
          </div>
          <hr>
          <div class="cat-button">
            <span>Labratory big service</span>
          </div>
          <hr>
          <div class="cat-button">
            <span>Services neded</span>
          </div>
        </div>
      </div>

      <div class="container-1">
        <div class="d-flex flex-column align-items-center justify-content-center w-100">
          <div class="d-flex align-items-center" style="margin-bottom: 30px">
            <div class="hr-40"></div>
            <h3>Get in touch</h3>
          </div>
          <input type="text" placeholder="your name here">
          <input type="text" placeholder="your email">
          <input type="text" placeholder="your subject">
          <textarea name="message" id="message" rows="6" placeholder="write message"></textarea>
        </div>
        <button class="nav-button" style="align-self: flex-start">Send Message</button>
      </div>

    </div>
  </div>
</div>
