@keyframes fadeText {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.project-page-content{
  width: 100%;
  .container-1{
    width: 100%;
    border: 2px solid #1b2234;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 35px 28px;
    margin-bottom: 40px;

    .gallery {
      .row {
        .col-4 {
          padding: 5px;
          overflow: hidden;
          transition: .3s ease-out;

          img {
            width: 100%;
            cursor: pointer;

            &:hover{
              transform: scale(1.05);
            }
          }
        }
      }
    }

    h4{
      width: 100%;
      font-size: 24px!important;
    }

    .feature-case-wrapper{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      margin-bottom: 40px;

      .img-wrapper{
        width: 100px;
        overflow: hidden;
        margin-right: 8px;

        img{
          width: 100%;
          transition: .3s ease-out;

          &:hover{
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }

      .case-content{
        width: 100%;

        h5{
          cursor: pointer;
          transition: color .3s ease-out;

          &:hover{
            color: #e27614!important;
          }
        }

        span{
          color: #e27614;
        }
      }

      &:last-child{
        margin-bottom: 0;
      }
    }

    &:last-child{
      border: none;
      margin-bottom: 0;
      background-image: url("../../../../../assets/images/projects/img-6.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 450px;
      position: relative;

      .content{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        padding: 100px 30px 20px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #262018 100%)
      }
    }
  }
}

.project-content-side{
  width: 100%;
  height: 100%;
  min-width: 68%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 15px;

  img{
    width: 100%;
    margin-bottom: 30px;
  }

  .h-hr{
    width: 2px;
    min-height: 60px;
    height: 100%;
    background-color: #6d18ef;
    margin-right: 8px;
    border-radius: 2px;
  }
  h4{
    width: 100%;
    font-weight: 600!important;
    font-size: 22px!important;
    margin: 0;
  }

  .quote{
    width: 100%;
    min-height: 100px;
    background-color: #1b2234;
    padding: 25px 40px;
    margin: 25px 0;

    .profile{
      width: 120px;
      height: 100px;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 12px;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .quote-icon{
      width: auto;
    }

    h3{
      width: 100%;
      span{
        font-size: 18px;
        font-weight: lighter;
        color: #4c5a73;
      }
    }

    @media screen and (max-width: 768px){
      position: relative;

      .profile{
        margin-bottom: 20px;
        width: 100px;
      }

      .quote-icon{
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  .btn-1{
    border: 1px solid #e27614;
    padding: 10px 25px;
    color: white;
    background-color: transparent;
    font-weight: 700;
    outline: none;
    margin-right: 10px;

    @media screen and (max-width: 420px){
      font-size: 14px;
      padding: 5px 15px;
    }
  }
  .btn-1.active{
    background-color: #e27614;
  }

  .content-loader{
    width: 100%;
    padding: 40px 35px 35px 20px;
    background-color: #1b2234;
    margin-bottom: 20px;

    .content{
      animation: fadeText 1s ease-out;
      li{
        font-size: 24px;
        font-weight: 600;
        color: white;
        margin-bottom: 15px;
        list-style: url("../../../../../assets/images/list-ico.png");
      }
      p{
        margin-bottom: 25px;
      }
    }
  }
}
