<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 col-lg-4">
      <div class="left-side">
        <img src="./assets/images/team/img-1.jpg" alt="profile">
        <div class="profile-desc">
          <h3>Alextiana Diterson</h3>
          <p class="p-1">Bakend Devoloper</p>
          <br>
          <p class="p-1">Responsibility: Devoloper</p>
          <p class="p-1">Experience: 8 years</p>
          <p class="p-1">Work Quality: Master High Level</p>
          <br>
          <div class="d-flex justify-content-between">
            <p class="p-1">Devoloping process</p>
            <p class="p-1">50%</p>
          </div>
          <progress value="50" max="100"> 50%</progress>
          <div class="d-flex justify-content-between">
            <p class="p-1">Business Advice</p>
            <p class="p-1">70%</p>
          </div>
          <progress value="70" max="100"> 70%</progress>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7 col-lg-8">
      <div class="right-side">
        <h3>Personal info</h3>
        <p class="p-1" style="margin-bottom: 40px">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper
          posuere viverra .Aliquam
          eros justoposuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
          justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis
          non, Aliquam eros justo, posuere loborti viverra laorematullamcorpeposuere viverra .Aliquam eros justo,
          posuere lobortis, viverra laoreet augue mattis fermentum. Aliquam</p>
        <h3>Professional Skill</h3>
        <p class="p-1">Wros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
          justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros
          justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis
          non</p>
        <div class="row" style="margin: 30px 0">
          <div class="col-12 col-lg-4">
            <div class="card-wrapper">
              <img src="./assets/images/service/icon-2.svg" alt="icon" width="32" height="40">
              <h3>Education</h3>
              <p class="p-1">posuoorti ver laoreematti desi ullamcorper posuere</p>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card-wrapper">
              <img src="./assets/images/service/icon-3.svg" alt="icon" width="32" height="40">
              <h3>Career</h3>
              <p class="p-1">posuoorti ver laoreematti desi ullamcorper posuere</p>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card-wrapper">
              <img src="./assets/images/service/icon-4.svg" alt="icon" width="32" height="40">
              <h3>Experience</h3>
              <p class="p-1">posuoorti ver laoreematti desi ullamcorper posuere</p>
            </div>
          </div>
        </div>

        <h3>Contact me</h3>
        <p class="p-1">Weros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
          justo, lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros</p>

        <div class="row">
          <div class="col-12 col-md-6">
            <input type="text" placeholder="Your name">
          </div>
          <div class="col-12 col-md-6">
            <input type="email" placeholder="Your email">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
          </div>
        </div>
        <button class="nav-button">Submit now</button>
      </div>
    </div>
  </div>
</div>
