<div class="container">
  <div class="d-lg-flex align-items-start justify-content-between">
    <div class="service-content-side">
      <img src="./assets/images/service/img-4.jpg" alt="banner">

      <h1 class="title-1">Cinema Renovation</h1>

      <p class="p-1">Aliquam eros justo, posuere loborti vive rra laoreet matti ullamc orper posu ere viverra .Aliquam
        eros justo, posuer lobortis non, vive rra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam
        eros justo, posuere loborti viverra laoreet mat ullamcorper posue viverra .Aliquam eros justo</p>
      <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra Aliquam eros
        desnm justo posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreetdesign Aliquam
        eros justo posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere
        lobortis non,Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
        justo, posuere lobortis, viverra laoreet augue</p>

      <div class="quote">
        <p class="p-1" style="text-align: justify">ished fact that a reader will be distrol acted bioii the.ished fact
          that a reader will be distrol
          acted laoreet Aliquam fact that a reader will be distrol laoreet Aliquam fact that a reader.</p>
        <div class="d-flex align-items-center justify-content-around w-100">
          <h3><span>By </span>Insuzu Litarnit</h3>
          <img src="./assets/images/service/quote.svg" alt="quote" width="56" height="41">
        </div>
      </div>

      <p class="p-1">Aliquam eros justo, posuere loborti vive rra laoreet matti ullamc orper posu ere viverra .Aliquam
        eros justo, posuer lobortis non, vive rra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam
        eros justo, posuere loborti viverra laoreet mat ullamcorper posue viverra .Aliquam eros justo, posuere lobortis
        non, viverra</p>

      <div class="d-sm-flex align-items-center w-100" style="margin: 25px 0">
        <div class="d-flex align-items-start">
          <img src="./assets/images/service/icon-2.svg" alt="icon" width="46" height="40"
               style="width: auto; padding-right: 8px">
          <div>
            <h3>Settings us</h3>
            <p class="p-1">Dhaka 102, m eros justo, posuer oborti viverra laor house of street oborti m eros</p>
          </div>
        </div>
        <div class="d-flex align-items-start">
          <img src="./assets/images/service/icon-3.svg" alt="icon" width="44" height="40"
               style="width: auto; padding-right: 8px">
          <div>
            <h3>Our plesuers</h3>
            <p class="p-1">Dhaka 102, m eros justo, posuer oborti viverra laor house of street oborti m eros</p>
          </div>
        </div>
      </div>

      <p class="p-1">Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros
        justo, posuere lobortis, viverra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros justo,
        posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis
        non,Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorp</p>

    </div>
    <div class="service-page-content">
      <div class="container-1">
        <div class="d-flex flex-column align-items-start justify-content-start w-100">
          <div class="d-flex align-items-center" style="margin-bottom: 30px">
            <div class="hr-40"></div>
            <h3>Services</h3>
          </div>
          <div class="cat-button active">
            <span>Business Advice</span>
          </div>
          <hr>
          <div class="cat-button">
            <span>Stock Market breing</span>
          </div>
          <hr>
          <div class="cat-button">
            <span>Regular the product</span>
          </div>
          <hr>
          <div class="cat-button">
            <span>Precious metal stant</span>
          </div>
          <hr>
          <div class="cat-button">
            <span>Labratory big service</span>
          </div>
          <hr>
          <div class="cat-button">
            <span>Services neded</span>
          </div>
        </div>
      </div>

      <div class="container-1">
        <div class="d-flex flex-column align-items-center justify-content-center w-100">
          <div class="d-flex align-items-center" style="margin-bottom: 30px">
            <div class="hr-40"></div>
            <h3>Get in touch</h3>
          </div>
          <input type="text" placeholder="your name here">
          <input type="text" placeholder="your email">
          <input type="text" placeholder="your subject">
          <textarea name="message" id="message" rows="6" placeholder="write message"></textarea>
        </div>
        <button class="nav-button" style="align-self: flex-start">Send Message</button>
      </div>

    </div>
  </div>
</div>
