<div class="project-set">
  <div class="container">
    <div class="carousel-container">
      <div class="carousel">
        <div *ngFor="let item of carouselItems" class="carouselItem">
          <div class="project-image">
            <img src="{{item.image}}" alt="{{item.title}}">
            <div class="project-image-hover">
              <div class="container" style="height: 100%;">
                <div class="d-flex flex-column align-items-start justify-content-end" style="height: 100%">
                  <span>{{item.tag}}</span>
                  <h4>{{item.title}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
