<div class="project-set">
  <div class="container">
    <div class="row" style="background-image: url('./assets/images/about/sec-5-bg.png')">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-1.jpg" class="card-img-top" alt="...">
          <div class="card-body-hover">
            <span>Adventure / 182 Mins</span>
            <h3 routerLink="1">Highway</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-2.jpg" class="card-img-top" alt="...">
          <div class="card-body-hover">
            <span>Adventure / 182 Mins</span>
            <h3 routerLink="1">Stallion</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-3.jpg" class="card-img-top" alt="...">
          <div class="card-body-hover">
            <span>Adventure / 182 Mins</span>
            <h3 routerLink="1">Warrior</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="d-md-none d-sm-block">
          <div class="card">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-9.jpg" class="card-img-top" alt="...">
            <div class="card-body-hover">
              <span>Adventure / 182 Mins</span>
              <h3 routerLink="1">Shadow</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="project-set">
  <div class="container">
    <div class="row" style="background-image: url('./assets/images/about/sec-5-bg.png')">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-4.jpg" class="card-img-top" alt="...">
          <div class="card-body-hover">
            <span>Adventure / 182 Mins</span>
            <h3 routerLink="1">Dark</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-5.jpg" class="card-img-top" alt="...">
          <div class="card-body-hover">
            <span>Adventure / 182 Mins</span>
            <h3 routerLink="1">Future Destiny</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-6.jpg" class="card-img-top" alt="...">
          <div class="card-body-hover">
            <span>Adventure / 182 Mins</span>
            <h3 routerLink="1">Leader</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="d-md-none d-sm-block">
          <div class="card">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-9.jpg" class="card-img-top" alt="...">
            <div class="card-body-hover">
              <span>Adventure / 182 Mins</span>
              <h3 routerLink="1">Shadow</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="project-set">
  <div class="container">
    <div class="row" style="background-image: url('./assets/images/about/sec-5-bg.png')">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-7.jpg" class="card-img-top" alt="...">
          <div class="card-body-hover">
            <span>Adventure / 182 Mins</span>
            <h3 routerLink="1">Alone</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-8.jpg" class="card-img-top" alt="...">
          <div class="card-body-hover">
            <span>Adventure / 182 Mins</span>
            <h3 routerLink="1">Miss you dad</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-9.jpg" class="card-img-top" alt="...">
          <div class="card-body-hover">
            <span>Adventure / 182 Mins</span>
            <h3 routerLink="1">Shadow</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="d-md-none d-sm-block">
          <div class="card">
            <img src="https://template.wphix.com/dhora-prv/dhora/assets/img/play/img-4.jpg" class="card-img-top" alt="...">
            <div class="card-body-hover">
              <span>Adventure / 182 Mins</span>
              <h3 routerLink="1">Alone</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
